<div class="headerSection container mt-3">
    <h1 class="mb-2">Cave Villa With Infinity Pool in Adrasan</h1>
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center ">
            <div class="me-3">
                <i class="fa-solid fa-star me-1"></i>
                4.92
            </div>
            <div class="me-3"><h6 class=" text-decoration-underline m-0 p-0">13 reviews</h6></div>
            <div class="me-3">
                <i class="fa-solid fa-trophy"></i>
                superhost
            </div>
            <div><h6 class=" text-decoration-underline m-0 p-0">Kumluca,antalya,Turkey</h6></div>
        </div>
        <div class=" d-flex">
            <div class="d-flex align-items-center me-3">
                <i class="fa-solid fa-arrow-up-from-bracket me-2"></i>
                <h6 class=" text-decoration-underline m-0 p-0">Share</h6>
            </div>
            <div class="d-flex align-items-center ">
                <i class="fa-regular fa-heart me-2"></i>
                <h6 class=" text-decoration-underline m-0 p-0">Save</h6>
            </div>
        </div>
    </div>
    <div class="container my-3 position-relative">
        <div class="row">
            <div class="col-md-6 p-2">
                <img class="img-fluid mainImg" src="../../../assets/Images/12a4e011-8a92-45ca-8231-35bb2bfbab1f.jpeg" alt="">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 p-2">
                        <div>
                            <img class="img-fluid " src="../../../assets/Images/eb5ed6f7-e977-4316-9cbc-a9bbf64e7075.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div>
                            <img class="img-fluid subImgOne" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div>
                            <img class="img-fluid" src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div>
                            <img class="img-fluid subImgeTwo" src="../../../assets/Images/4ddde677-af85-4038-a2a1-93294bffd8f5.jpeg" alt="">
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="allImgsBtn">
            <button class="btn btn-outline-dark">
                <i class="fa-solid fa-braille"></i>
                Show All Photos
            </button>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                <div>
                    <h4>Entire villa hosted by Halis</h4>
                    <h6>5 guests2 bedrooms2 beds2 baths</h6>    
                </div>
                <div class="smallImgContainer ">
                    <img style="cursor:pointer ;" [src]="userImg" [routerLink]="['/User','Profile',userId]" alt="">
                </div>
            </div>
            <div class=" mt-3 border-bottom pb-2">
                <div class="d-flex mb-2">
                    <i class="fa-solid fa-water-ladder fa-2x me-2"></i>
                    <div>
                        <h6 class="m-0 p-0">Dive right in</h6>
                        <p class="p-0 text-secondary">This is one of the few places in the area with a pool.</p>
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <i class="fa-regular fa-star fa-2x me-2"></i>
                    <div>
                        <h6 class="m-0 p-0">Experienced host</h6>
                        <p class="p-0 text-secondary">Bookiply has 901 reviews for other places.</p>
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <i class="fa-solid fa-ban fa-2x me-2"></i>
                    <div>
                        <h6 class="m-0 p-0">Free cancellation for 48 hours.</h6>
                    </div>
                </div>
            </div>           
        </div>
        <div class="col-md-5 border border-secondary rounded-4">
            
        </div>
    </div>
</div>