<app-ceo-side-bar></app-ceo-side-bar>
<div class="tabledim">
  <p-table [value]="employees"   responsiveLayout="scroll">
    <ng-template pTemplate="caption">
       <h3>Employees :</h3>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th scope="col">Profile Picture</th>
          <th scope="col">FirstName</th>
          <th scope="col"> LastName</th>
          <th scope="col"> UserName</th>
          <th scope="col"> SSN</th>
          <th scope="col"> Salary</th>
          <th scope="col"> Role</th>
          <th scope="col"> Mobile Number</th>
          <th scope="col"> </th>
          <th scope="col"> </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employees>
        <tr>
          
            <td><img *ngIf="employees.profilePicture !=null" class="rounded-circle mt-2" width="50px" height="50px" [src]="employees.profilePicture">
              <img  *ngIf="employees.profilePicture==null" class="rounded-circle mt-2" width="50px" height="50px"src="../../../assets/Images/unknownPic.jpg" alt=""></td>
            <td>{{employees.firstName}}</td>
            <td>{{employees.lastName}}</td>
            <td>{{employees.userName}}</td>
            <td>{{employees.ssn}}</td>
            <td>{{employees.salary}}</td>
            <td scope="row">{{employees.role}}</td>
          <td scope="row">{{employees.phoneNumber}}</td>
          <td scope="row">
            <button (click)="delete(employees.id)" class="btn btn-primary">Delete</button>
          </td>
          <td scope="row">
            <button [routerLink]="['EditEmployee',employees.id] " class="btn btn-primary">Edit</button>
          </td>
        
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{employees ? employees.length : 0 }} Employees.
        </div>
    </ng-template>
</p-table>
</div>
 