.carousel-indicators button{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.carousel-item img{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-inner{
    border-radius: 10px;

}
.carousel-control-next{
    background-color: rgba(0, 0, 0, 0.8);
    height: 40px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    margin-right: 5px;
}
.carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.8);
    height: 40px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    margin-left: 5px;
}
.favBtn{
    position: absolute;
    top: 3%;
    right: 8%;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.favBtn:hover{
    color: red;
}
.row .col-md-3{
    cursor: pointer;
}

.categoryContainer{

    background-color: white;
}
.categoryContainer ul{
    list-style: none;
    font-weight: bolder;
    font-size: 12px;
    padding: 0%;
    margin: 0%;
}
.categoryContainer li{
    padding: 0px;
    margin: 0px;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.5s;
    
    border-bottom: 3px solid transparent;
    
}
.categoryContainer li:hover{
    border-bottom: 3px solid #ccc;
}

.LogoContainer{
    width: 35px;
    height: 35px;
}
/* ######################## */
/* Show map button section */
.showMapBtn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}