<div  class="w-100  categoryContainer container-fluid d-flex align-items-center justify-content-center mt-3 mb-5">
  <div>
    <ul class=" d-flex align-items-center">
      <li  *ngFor="let item of AllCategories">
          <div class="text-center" (click)="getPropertiesInCat(item.name)">
            <img class="LogoContainer" [src]="'../../../assets/Images/Icons/'+item.url" alt="">
            <p >{{item.name}}</p>
          </div>
      </li>
      <li>
        <div class="text-center">
          <img class="LogoContainer" src="../../../assets/Images/Icons/icons8-filter-and-sort-50.png" alt="">
          <p >Filter</p>
        </div>
      </li>  
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let item of AllProperties;let i=index" class="col-md-3 position-relative h-100">
      <div class="p-2">
            <div class="row" [routerLink]="['PropertyDetails',item.id]">
              <div class="col-md-6 p-1">
                <div>
                <img class="img-fluid" *ngIf="AllPropertiesImages[i][0]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[0]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>
                </div>
              </div>
              <div class="col-md-6 p-1">
                <div>
                  <img class="img-fluid" *ngIf="AllPropertiesImages[i][1]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[1]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>

                </div>
              </div>
              <div class="col-md-6 p-1">
                <div>
                  <img class="img-fluid" *ngIf="AllPropertiesImages[i][2]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[2]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>

                </div>
              </div>
              <div class="col-md-6 p-1">
                <div>
                  <img class="img-fluid" *ngIf="AllPropertiesImages[i][3]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[3]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>

                </div>
              </div>
            </div>
            <div [routerLink]="['PropertyDetails',item.id]">
              <div class=" d-flex align-items-center justify-content-between my-2">
                  <h5>{{item.location}}</h5>
                  <div>
                      <i class="fa-solid fa-star me-1"></i>
                      {{item.rating}}
                  </div>
                </div>
                <h6 class=" text-secondary">{{item.description.substring(0,100)}}...</h6>
                <h6 class=" text-secondary">Nov 6-12</h6>
                <p>{{item.price|currency}}<span class="text-secondary">night</span></p>
            </div>
      </div>
      <div class="favBtn" (click)="AddToFavourites('favIcon'+i,item.id)">
          <i *ngIf="_PropertyService.removeFavouriteProperty(item.id); else iconTemp" [id]="'favIcon'+i" class="fa-regular fa-heart fa-2x"></i>
          <ng-template #iconTemp>
            <i [id]="'favIcon'+i" class="fa-solid fa-heart text-danger fa-2x"></i>
          </ng-template>
      </div>
  </div>
</div>
</div>

<div class="showMapBtn">
  <button  class="btn btn-dark rounded-pill px-4 py-2">
    <i class="fa-solid fa-map text-white me-2"></i>
    Show Map
  </button>
</div>
