<div  class="w-100  categoryContainer container-fluid d-flex align-items-center justify-content-center mt-3 mb-5">
  <div>
    <ul class=" d-flex align-items-center">
      <li>
        <div class="text-center" >
          <img class="LogoContainer" (click)="GetAllProperties()" src="../../../assets/Images/Icons/All.png" alt="">
          <p >ALL</p>
        </div>
      </li>  
      <li  *ngFor="let item of AllCategories">
          <div class="text-center" (click)="getPropertiesInCat(item.name)">
            <img class="LogoContainer" [src]="'../../../assets/Images/Icons/'+item.url" alt="">
            <p >{{item.name}}</p>
          </div>
      </li>
      <li>
        <div class="text-center" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
          <img class="LogoContainer" src="../../../assets/Images/Icons/icons8-filter-and-sort-50.png" alt="">
          <p >Filter</p>
        </div>
      </li>  
    </ul>
  </div>
</div>
<div *ngIf="dataIsReady" class="container">
  <div class="row">
    <div *ngFor="let item of AllProperties;let i=index" class="col-md-3 position-relative h-100">
      <div class="p-2">
            <div class="row"(click)="incrimentPropertyView(item.id)" [routerLink]="['PropertyDetails',item.id]">
              <div class="col-md-6 p-1">
                <div>
                <img style="height: 115px; width:150px;" class="img-fluid" *ngIf="item.pictures[0]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[0]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>
                </div>
              </div>
              <div class="col-md-6 p-1">
                <div>
                  <img style="height: 115px; width:150px;" class="img-fluid" *ngIf="item.pictures[1]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[1]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>

                </div>
              </div>
              <div class="col-md-6 p-1">
                <div>
                  <img style="height: 115px; width:150px;" class="img-fluid" *ngIf="item.pictures[2]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[2]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>

                </div>
              </div>
              <div class="col-md-6 p-1">
                <div>
                  <img style="height: 115px; width:150px;" class="img-fluid" *ngIf="item.pictures[3]!=undefined;else temp" [src]="'data:image/png;base64,'+item.pictures[3]['picture']" alt="">
                  <ng-template #temp>
                    <img class="img-fluid" src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" alt="">

                  </ng-template>

                </div>
              </div>
            </div>
            <div (click)="incrimentPropertyView(item.id)" [routerLink]="['PropertyDetails',item.id]">
              <div class=" d-flex align-items-center justify-content-between my-2">
                  <h5>{{item.location}}</h5>
                  <div>
                      <i class="fa-solid fa-star me-1"></i>
                      {{item.rating}}
                  </div>
                </div>
                <h6 class=" text-secondary">{{item.description.substring(0,100)}}...</h6>
                <h6 class=" text-secondary">Nov 6-12</h6>
                <p>{{item.price|currency}}<span class="text-secondary">night</span></p>
            </div>
      </div>
      <div class="favBtn" (click)="AddToFavourites('favIcon'+i,item.id)">
          <i *ngIf="_PropertyService.removeFavouriteProperty(item.id); else iconTemp" [id]="'favIcon'+i" class="fa-regular fa-heart fa-2x"></i>
          <ng-template #iconTemp>
            <i [id]="'favIcon'+i" class="fa-solid fa-heart text-danger fa-2x"></i>
          </ng-template>
      </div>
  </div>
</div>
</div>

<!-- <div class="showMapBtn">
  <button  class="btn btn-dark rounded-pill px-4 py-2">
    <i class="fa-solid fa-map text-white me-2"></i>
    Show Map
  </button>
</div> -->
<!-- Filtering Modal -->
<!-- <div class="modal-dialog modal-lg">...</div> -->
<div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Filters</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="my-3" >
            <h5>Price Range</h5>
            <h6 class="text-secondary">The average nightly price is $539</h6>
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Minimum Price:</label>
                    <input type="email" class="form-control" id="minimumPrice" placeholder="$0">
                  </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Maximum Price:</label>
                    <input type="email" class="form-control" id="maximumPrice" placeholder="$$$$">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-3">
            <h5>Property Type</h5>
            <div class="container mt-3">
              <div class="row">
                <div class="col-md-3 ">
                  <div (click)="filterByProprtyType('House')" class="border border-dark rounded-3 p-3 text-center propertyTypeContainer">
                    <img class="mb-3" src="../../../assets/Images/Icons/PropertyTypes/House.png" alt="">
                    <h6>House</h6>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div (click)="filterByProprtyType('Appartment')" class="border border-dark rounded-3 p-3 text-center propertyTypeContainer">
                    <img class="mb-3" src="../../../assets/Images/Icons/PropertyTypes/appartment.png" alt="">
                    <h6>Appartment</h6>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div (click)="filterByProprtyType('Hotel')" class="border border-dark rounded-3 p-3 text-center propertyTypeContainer">
                    <img class="mb-3" src="../../../assets/Images/Icons/PropertyTypes/hotel.png" alt="">
                    <h6>Hotel</h6>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div (click)="filterByProprtyType('Guest House')" class="border border-dark rounded-3 p-3 text-center propertyTypeContainer">
                    <img class="mb-3" src="../../../assets/Images/Icons/PropertyTypes/guestHouse.png" alt="">
                    <h6>Guest House</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-3">
            <h5>Number Of Rooms</h5>
            <div class="container">
              <button class="btn btn-dark rounded-pill me-2">Any</button>
              <button (click)="filterByRooms(1)" class="btn btn-outline-dark rounded-pill me-3">1</button>
              <button (click)="filterByRooms(2)" class="btn btn-outline-dark rounded-pill me-3">2</button>
              <button (click)="filterByRooms(3)" class="btn btn-outline-dark rounded-pill me-3">3</button>
              <button (click)="filterByRooms(4)" class="btn btn-outline-dark rounded-pill me-3">4</button>
              <button (click)="filterByRooms(5)" class="btn btn-outline-dark rounded-pill me-3">5</button>
              <button (click)="filterByRooms(6)" class="btn btn-outline-dark rounded-pill me-3">6</button>
              <button (click)="filterByRooms(7)" class="btn btn-outline-dark rounded-pill me-3">7</button>
              <button class="btn btn-outline-dark rounded-pill me-3">8+</button>
            </div>
          </div>
          <div class="my-4">
            <h5 class="mb-2">Essentials</h5>
            <div class="container">
              <div class="row">
                <div class="col-md-3 mb-2">
                  <div class="form-check">
                    <input (click)="filterByEssentials('Wifi')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label fw-bolder" for="gridCheck1">
                      WIFI
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check">
                    <input (click)="filterByEssentials('Parking')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label fw-bolder" for="gridCheck1">
                      PARKING
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByEssentials('Tv')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      TV
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByEssentials('Washer')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      WASHER
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByEssentials('Elevator')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      ELEVATOR
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByEssentials('Generator')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      GENERATOR
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByEssentials('PrivateRoom')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      PRIVATE ROOM
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByEssentials('SmokeAlarm')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      SMOKE ALARM
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByEssentials('SeaView')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      SEA VIEW
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-4">
            <h5 class="mb-2">Languages</h5>
            <div class="container">
              <div class="row">
                <div class="col-md-3 mb-2">
                  <div class="form-check">
                    <input (click)="filterByLanguages('Arabic')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label fw-bolder" for="gridCheck1">
                      Arabic
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check">
                    <input (click)="filterByLanguages('English')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label fw-bolder" for="gridCheck1">
                      English
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByLanguages('Italian')" English class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      Italian
                    </label>
                  </div>
                </div>
                <div class="col-md-3 mb-2">
                  <div class="form-check fw-bolder">
                    <input (click)="filterByLanguages('French')" class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      French
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
        <button (click)="getFilters()" type="button" class="btn btn-primary">{{AllProperties.length}} Filter</button>
      </div>
    </div>
  </div>
</div>
