<div  class="w-100  categoryContainer container-fluid d-flex align-items-center justify-content-center mt-3 mb-5">
  <div>
    <ul class=" d-flex align-items-center">
      <li  *ngFor="let item of AllCategories">
          <div class="text-center" (click)="getPropertiesInCat(item.name)">
            <img class="LogoContainer" [src]="'../../../assets/Images/Icons/'+item.url" alt="">
            <p >{{item.name}}</p>
          </div>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let item of AllProperties" class="col-md-3 position-relative">
      <div>
          <div id="carouselExampleIndicators" class="carousel slide" >
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner" [routerLink]="['PropertyDetails',item.id]">
                <div class="carousel-item active">
                  <img  src="../../../assets/Images/eb5ed6f7-e977-4316-9cbc-a9bbf64e7075.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/Images/143723a2-07f4-4cb7-9754-d82d61930cf7.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/Images/4ddde677-af85-4038-a2a1-93294bffd8f5.jpeg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div routerLink="/PropertyDetails">
              <div class=" d-flex align-items-center justify-content-between my-2">
                  <h5>{{item.location}}</h5>
                  <div>
                      <i class="fa-solid fa-star me-1"></i>
                      4.92
                  </div>
                </div>
                <h6 class=" text-secondary">{{item.description}}</h6>
                <h6 class=" text-secondary">Nov 6-12</h6>
                <p>$92 <span class="text-secondary">night</span></p>
            </div>
      </div>
      <div class="favBtn">
          <i class="fa-regular fa-heart fa-2x"></i>
      </div>
  </div>
    <!-- <div  class="col-md-3 position-relative">
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner" routerLink="/PropertyDetails">
                  <div class="carousel-item active">
                    <img  src="../../../assets/Images/eb5ed6f7-e977-4316-9cbc-a9bbf64e7075.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/143723a2-07f4-4cb7-9754-d82d61930cf7.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/4ddde677-af85-4038-a2a1-93294bffd8f5.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div routerLink="/PropertyDetails">
                <div class=" d-flex align-items-center justify-content-between my-2">
                    <h5>Kumluca, Turkey</h5>
                    <div>
                        <i class="fa-solid fa-star me-1"></i>
                        4.92
                    </div>
                  </div>
                  <h6 class=" text-secondary">Olympos Beydaglari National Park</h6>
                  <h6 class=" text-secondary">Nov 6-12</h6>
                  <p>$92 <span class="text-secondary">night</span></p>
              </div>
        </div>
        <div class="favBtn">
            <i class="fa-regular fa-heart fa-2x"></i>
        </div>
    </div>
    <div  class="col-md-3 position-relative">
        <div>
            <div id="carouselExampleIndicators2" class="carousel slide" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner" routerLink="/PropertyDetails">
                    <div class="carousel-item active">
                        <img src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" class="d-block w-100" alt="...">
                      </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/143723a2-07f4-4cb7-9754-d82d61930cf7.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img  src="../../../assets/Images/eb5ed6f7-e977-4316-9cbc-a9bbf64e7075.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/4ddde677-af85-4038-a2a1-93294bffd8f5.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div routerLink="/PropertyDetails">
                <div class=" d-flex align-items-center justify-content-between my-2">
                    <h5>Kumluca, Turkey</h5>
                    <div>
                        <i class="fa-solid fa-star me-1"></i>
                        4.92
                    </div>
                  </div>
                  <h6 class=" text-secondary">Olympos Beydaglari National Park</h6>
                  <h6 class=" text-secondary">Nov 6-12</h6>
                  <p>$92 <span class="text-secondary">night</span></p>
              </div>
        </div>
        <div class="favBtn">
            <i class="fa-regular fa-heart fa-2x"></i>
        </div>
    </div>
    <div  class="col-md-3 position-relative">
        <div>
            <div id="carouselExampleIndicators3" class="carousel slide" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner" routerLink="/PropertyDetails">
                    <div class="carousel-item active">
                        <img src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" class="d-block w-100" alt="...">
                      </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/143723a2-07f4-4cb7-9754-d82d61930cf7.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item ">
                    <img  src="../../../assets/Images/eb5ed6f7-e977-4316-9cbc-a9bbf64e7075.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/4ddde677-af85-4038-a2a1-93294bffd8f5.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div routerLink="/PropertyDetails">
                <div class=" d-flex align-items-center justify-content-between my-2">
                    <h5>Kumluca, Turkey</h5>
                    <div>
                        <i class="fa-solid fa-star me-1"></i>
                        4.92
                    </div>
                  </div>
                  <h6 class=" text-secondary">Olympos Beydaglari National Park</h6>
                  <h6 class=" text-secondary">Nov 6-12</h6>
                  <p>$92 <span class="text-secondary">night</span></p>
              </div>
        </div>
        <div class="favBtn">
            <i class="fa-regular fa-heart fa-2x"></i>
        </div>
    </div>
    <div  class="col-md-3 position-relative">
        <div>
            <div id="carouselExampleIndicators4" class="carousel slide" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner" routerLink="/PropertyDetails">
                    <div class="carousel-item active">
                        <img src="../../../assets/Images/4ddde677-af85-4038-a2a1-93294bffd8f5.jpeg" class="d-block w-100" alt="...">
                      </div>
                    <div class="carousel-item">
                        <img src="../../../assets/Images/3ef583d2-16d9-4640-a939-246324320442.jpeg" class="d-block w-100" alt="...">
                      </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/143723a2-07f4-4cb7-9754-d82d61930cf7.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item ">
                    <img  src="../../../assets/Images/eb5ed6f7-e977-4316-9cbc-a9bbf64e7075.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div routerLink="/PropertyDetails">
                <div class=" d-flex align-items-center justify-content-between my-2">
                    <h5>Kumluca, Turkey</h5>
                    <div>
                        <i class="fa-solid fa-star me-1"></i>
                        4.92
                    </div>
                  </div>
                  <h6 class=" text-secondary">Olympos Beydaglari National Park</h6>
                  <h6 class=" text-secondary">Nov 6-12</h6>
                  <p>$92 <span class="text-secondary">night</span></p>
              </div>
        </div>
        <div class="favBtn">
            <i class="fa-regular fa-heart fa-2x"></i>
        </div>
    </div> -->
</div>
</div>

<div class="showMapBtn">
  <button  class="btn btn-dark rounded-pill px-4 py-2">
    <i class="fa-solid fa-map text-white me-2"></i>
    Show Map
  </button>
</div>
