<p>ceo-managing-employees works!</p>
<app-ceo-side-bar></app-ceo-side-bar>
<div class="container form">
  <form class="form">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter firstname">
    </div>
    <br>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter last name">
    </div>   
     <br>
    <div class="form-group">
      <label for="uname">User Name</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter user name">
    </div>
    <br>
    <div class="form-group">
      <label for="Email">Email address</label>
      <input type="email" class="form-control" id="Email" placeholder="Enter email">
    </div>
    <br>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
    </div>
    <br>
    <div class="form-group">
      <label for="bd">Birthdate</label>
      <input type="date" class="form-control" id="bd">
    </div>
    <br>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" class="form-control" id="pass" placeholder="Password">
    </div>
    <br>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="number" class="form-control" id="salary" placeholder="Salary">
    </div>
    <br>
    <div class="form-group">
      <label for="ssn">SSN</label>
      <input type="number" class="form-control" id="ssn" placeholder="ssn">
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        CEO
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Admin
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="exampleRadios3" value="option3">
      <label class="form-check-label" for="exampleRadios3">
        Super Admin
      </label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
