<div class="w-50 mx-auto formContainer">
  <div class="w-100">
      <form (ngSubmit)="submitRegister(EmployeeAddForm)"  [formGroup]="EmployeeAddForm">
          <h2 class="border-bottom mb-2">Register Now: </h2>
          <div *ngIf="Error" class="alert alert-danger">
              <h3>{{Error}}</h3>
          </div>
          <label for="firstName">FirstName:</label>
          <input type="text" formControlName="firstName" class="form-control" name="" id="firstName">
          <div *ngIf="EmployeeAddForm.get('firstName')?.errors&&EmployeeAddForm.get('firstName')?.touched" class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('firstName')?.errors?.['required']" class="mb-0">FirstName is Required</p>
              <p *ngIf="EmployeeAddForm.get('firstName')?.errors?.['minlength']" class="mb-0">FirstName Minimum length is 3</p>
              <p *ngIf="EmployeeAddForm.get('firstName')?.errors?.['maxlength']" class="mb-0">FirstName Maximum length is 50</p>
          </div>
          <label for="lastName">LastName:</label>
          <input type="text" formControlName="lastName" class="form-control" name="" id="lastName">
          <div *ngIf="EmployeeAddForm.get('lastName')?.errors&&EmployeeAddForm.get('lastName')?.touched" class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('lastName')?.errors?.['required']" class="mb-0">LastName is Required</p>
              <p *ngIf="EmployeeAddForm.get('lastName')?.errors?.['minlength']" class="mb-0">LastName Minimum length is 3</p>
              <p *ngIf="EmployeeAddForm.get('lastName')?.errors?.['maxlength']"class="mb-0">LastName Maximum length is 50</p>
          </div>
          <label for="userName">UserName:</label>
          <input type="text" formControlName="userName" class="form-control" name="" id="userName">
          <div *ngIf="EmployeeAddForm.get('userName')?.errors&&EmployeeAddForm.get('userName')?.touched" class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('userName')?.errors?.['required']" class="mb-0">UserName is Required</p>
              <p *ngIf="EmployeeAddForm.get('userName')?.errors?.['minlength']"class="mb-0">UserName Minimum length is 10</p>
              <p *ngIf="EmployeeAddForm.get('userName')?.errors?.['maxlength']"class="mb-0">UserName Maximum length is 50</p>
          </div>
          <label for="email">Email:</label>
          <input type="email" formControlName="email" class="form-control" name="" id="email">
          <div *ngIf="EmployeeAddForm.get('email')?.errors&&EmployeeAddForm.get('email')?.touched" class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('email')?.errors?.['required']"class="mb-0">Email is Required</p>
              <p *ngIf="EmployeeAddForm.get('email')?.errors?.['email']"class="mb-0">InValid Email format</p>
          </div>
          <label for="phoneNumber">MobileNumber:</label>
          <input type="text" formControlName="phoneNumber" class="form-control" name="" id="phoneNumber">
          <div *ngIf="EmployeeAddForm.get('phoneNumber')?.errors&&EmployeeAddForm.get('phoneNumber')?.touched"class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('phoneNumber')?.errors?.['required']"class="mb-0">mobileNumber is Required</p>
              <p *ngIf="EmployeeAddForm.get('phoneNumber')?.errors?.['pattern']"class="mb-0">Invalid mobile number format</p>
          </div>
          <label for="password">Password:</label>
          <input type="password" formControlName="password" class="form-control" name="" id="password">
          <div *ngIf="EmployeeAddForm.get('password')?.errors&&EmployeeAddForm.get('password')?.touched"class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('password')?.errors?.['required']"class="mb-0">Password is Required</p>
              <p *ngIf="EmployeeAddForm.get('password')?.errors?.['pattern']"class="mb-0">Password is Must start with capital letter and have special character</p>
          </div>
          <label for="birthDate">BirthDate:</label>
          <input type="date" formControlName="birthDate" class="form-control" name="" id="birthDate">
          <div *ngIf="EmployeeAddForm.get('birthDate')?.errors&&EmployeeAddForm.get('birthDate')?.touched"class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('birthDate')?.errors?.['required']"class="mb-0">BirthDate is Required</p>
              <p *ngIf="EmployeeAddForm.get('birthDate')?.errors?.['pattern']"class="mb-0">Date Cannot be in the future</p>
          </div>
          <label for="salary">Salary:</label>
          <input type="number" formControlName="salary" class="form-control" name="" id="salary">
          <div *ngIf="EmployeeAddForm.get('salary')?.errors&&EmployeeAddForm.get('salary')?.touched"class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('salary')?.errors?.['required']"class="mb-0">Salary is Required</p>
          </div>
          <label for="sSN">SSN:</label>
          <input type="text" formControlName="sSN" class="form-control" name="" id="sSN">
          <div *ngIf="EmployeeAddForm.get('sSN')?.errors&&EmployeeAddForm.get('sSN')?.touched"class="alert alert-danger my-2">
              <p *ngIf="EmployeeAddForm.get('sSN')?.errors?.['required']"class="mb-0">SSN is Required</p>
          </div>

          <label for="role">Role:</label>
          
          <div class="form-check">
            <input  type="radio" formControlName="role"  id="CEO" value="CEO" checked>
            <label  for="role">
              CEO
            </label>
          </div>

          <div class="form-check">
            <input  type="radio" formControlName="role"  id="Admin" value="Admin" >
            <label  for="role">
              Admin
            </label>
          </div>

          <div class="form-check">
            <input  type="radio" formControlName="role"  id="SuperAdmin" value="SuperAdmin" >
            <label  for="role">
              SuperAdmin
            </label>
          </div>

          <button  [disabled]="EmployeeAddForm.invalid"  type="submit" class="btn btn-info mt-3">Register</button>
      </form>
  </div>
</div>

