<nav class="navbar navbar-expand-lg bg-white  myNav">
    <div class="container">
      <a class="navbar-brand" routerLink="/Home" style="color: #FF5A5F;" href="#"><i class="fa-brands fa-airbnb fa-2xl" style="color: #FF5A5F;"></i> <b>&nbsp;airbnb</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li *ngIf="!isLoggedIn" class="nav-item" >
            <a class="nav-link" [routerLink]="['/Login']">SignIn</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item" >
            <a class="nav-link" routerLink="/Register">Register</a>
          </li>
          <!-- <li *ngIf="isLoggedIn" class="nav-item">
            <a (click)="CallLogOut()" class="nav-link" href="#">SignOut</a>
          </li> -->
        </ul>
        <ul *ngIf="isLoggedIn" class="ms-auto navbar-nav d-flex align-items-center">
          <li *ngIf="isLoggedIn" class="nav-item me-3 hostBtn rounded-pill " >
            <a class="nav-link d-flex align-items-center justify-content-center position-relative" [routerLink]="['/User','Favourites']" style="cursor: pointer;" >
              <i class="fa-solid fa-heart text-danger fa-2x position-relative"></i>
              <small class="favsNumber">{{userFavProperties}}</small>
              
            </a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item me-3 hostBtn rounded-pill " >
            <a class="nav-link" style="cursor: pointer;" (click)="NavigateToHosterProfile()">Switch to Hosting</a>
          </li>
          <li class="nav-item">
            <div class="profileBtnContainer rounded-pill shadow">
              <img *ngIf="userImage!=''" class="imgContainer" [src]="userImage" alt="">
                <img *ngIf="userImage==''" class="imgContainer" src="../../../assets/Images/unknownPic.jpg" alt="">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{userfullName}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Messages</a></li>
                  <li><a class="dropdown-item" href="#">Notifications</a></li>
                  <li><a class="dropdown-item" href="#">Trips</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/User','Reservations']" >Reservations</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Manage Listings</a></li>
                  <li><a class="dropdown-item" href="#">Host an Experience</a></li>
                  <li><a style="cursor: pointer;" class="dropdown-item" (click)="NavigateToUserProfile()">Account</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Help</a></li>
                  <li><a style="cursor: pointer;" class="dropdown-item" (click)="CallLogOut()">LogOut</a></li>

                </ul>
              </li>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="border-top my-3"></div>
