.imgContainer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
button li a:hover{
    color: white !important;
}
.profileBtnContainer{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 5px;
    transition: 0.5s;

}
.profileBtnContainer:hover{
    border: 2px solid #ccc;
}
.myNav{
    z-index: 200;
}
.hostBtn{
    border: 2px solid transparent;
    transition: 0.5s;
    padding: 5px;

}
.hostBtn:hover{
    border: 2px solid #ccc;
    background-color: #ccc;

}

.favsNumber{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    color: white;
    font-weight: bolder;
}
