.formContainer{
    height: 80vh;
    display: flex;
    align-items: center;
    z-index: 200;
    position: relative;
}
.googleLogo{
  width: 30px;
  height: 30px;
}
.googleSignInContainer{
  background-color: white;
  color: black;
  font-weight: bolder;
}
