<p-sidebar [(visible)]="display">
  <div class="sidebar-heading border-bottom bg-light">
    <h1>DashBoard</h1>
  </div>
  <div class="list-group list-group-flush dropdown">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Ceo">Profile</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Properties</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Ceo/ManageUser">Users</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-3  dropdown-toggle"
      data-bs-toggle="dropdown" aria-expanded="false">
      Employees
    </a>
    <ul class="dropdown-menu">
      <a class="list-group-item list-group-item-action list-group-item-light " href="/Ceo/ManageEmployee">
        Add Employee
    </a>
    
    <a class="list-group-item list-group-item-action list-group-item-light " href="/Ceo/ManageEmployeeDetails">
      Employees Details 
    </a>
    </ul>
  </div>

</p-sidebar>

<button type="text" id="btn" (click)="display = true" class="pi pi-arrow-right
btn btn-info" label="Show"></button>
