<div class="propepsContainer container mt-3">
    <div class="row">
        <div *ngFor="let property of userProps" class="col-md-4 my-3">
            <div class="card">
                <img src="../../../assets/Images/47b9a4f2-2b7d-473c-9c4d-762629d6ef98.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{property.location}}</h5>
                  <p class="card-text mb-0">{{property.description|trimtext:100}}</p>
                  <div class="mb-3"><small class="card-title text-secondary ">{{property.price|currency}}</small></div>
                  <a href="#" class="btn btn-primary me-2">What user see</a>
                  <a href="#" class="btn btn-warning me-2">Edit</a>
                  <a href="#" (click)="PropertyToDelete(property.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger me-2">Delete</a>
                </div>
              </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" aria-hidden="true">
                        <div class="card-body">
                          <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                          </h5>
                          <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                          </p>
                          <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                          <a class="btn btn-primary col-5 ms-3"> Add New Property</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Delete Modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <h6>Are you sure you want to delete this property?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="DeleteProperty()" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>